<!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div class="row 200%">
        <div class="8u 12u$(medium)">
          <div id="content">

            <!-- Content -->
              <article>

                <section>
                  <a href="#big-screen-bash.html" class="image fit">
                    <img src="images/superparty-postcard.png" alt="" />
                  </a>

                  <h3>A Breath of Fresh Air is pleased to announce our 7th Annual “Big Screen Bash” to benefit American Lung Association</h3>

                  <p>Each year this event raises significant funds in support of the American Lung Association. Contributions help fund cutting-edge medical research, patient services, education and advocacy for public policy in support of the association’s mission to save lives by improving lung health and preventing lung disease.</p> 
                </section>

                <div class="container">
                  <div class="row 200%">
                    <div class="4u 12u(medium)">

                      <!-- Sidebar -->
                        <div id="sidebar">
                          <section>
                            <h3>A Grid!</h3>
                          </section>
                        </div>

                    </div>
                    <div class="8u 12u(medium) important(medium)">

                      <!-- Content -->
                        <div id="content">
                          <section>
                            <p><b>When</b><br/>Saturday, October 4, 2014<br/>6:30pm</p>﻿
                            <p><b>Where</b><br/>The Olmsted<br/>3701 Frankfort Ave,<br/>Louisville, KY 40206</p>﻿
                          </section>
                        </div>

                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="6u 12u(medium)">
                      <a href="#" class="button medium icon fa-arrow-circle-right">Ticket and Table Information</a>
                  </div>
                  <div class="6u 12u(medium)">
                      <a href="http://photos.midlandlung.org/Galas-Luncheons/Silver-Screen-Soirees" class="button alt medium icon fa-question-circle">Sponsorship Opportunities</a>
                  </div>
                </div>
                
              </article>

          </div>
        </div>

        <div class="4u 12u$(medium)">
          <div id="sidebar">

            <!-- Sidebar -->
              <h3>2015 Big Screen Bash Sponsors</h3>

              <% ["Platinum", "Gold", "Silver", "Media", "Table", "Supporting"].each do |sponsor_type| %>
                <div class="row 100%">
                  <div class="12u 12u(medium)">

                    <section class="widget thumbnails box">
                      <h4><%= sponsor_type %> Sponsors</h4>
                      <div class="grid">
                        <div class="row 50%">

                          <% sponsors = CSV.read("./data/sponsors-#{sponsor_type.downcase}.csv") %>
                          <% sponsors.each do |sponsor| %>
                            <% image_file = "#{sponsor[0].downcase}.png" %> 
                            <% link = sponsor[1] %> 

                            <div class="6u">
                              <a href="<%= link %>" class="image fit"><img src="images/sponsors-<%= sponsor_type.downcase %>/<%= image_file %>" alt="" style="border: 1px solid #708090;" /></a>
                            </div>
                          <% end %>

                        </div>
                      </div>
                    </section>

                  </div>
                </div>
              <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>