<!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div class="row 200%">
        <div class="8u 12u$(medium)">
          <div id="content">

            <!-- Content -->
              <article>

                <section>
                  <a href="#big-screen-bash.html" class="image fit">
                    <img src="images/superparty-postcard.png" alt="" />
                  </a>
                </section>

                <section>
                  <h3>A Breath of Fresh Air is pleased to announce our 7th Annual “Big Screen Bash” to benefit American Lung Association</h3>

                  <p>Each year this event raises significant funds in support of the American Lung Association. Contributions help fund cutting-edge medical research, patient services, education and advocacy for public policy in support of the association’s mission to save lives by improving lung health and preventing lung disease.</p> 

                  <!--
                  <div class="container">
                  -->
                    <div class="row 200%">
                      <div class="3u 12u(medium)">

                        <!-- Sidebar -->
                        <div id="sidebar">
                          <section>
                            <div class="grid">
                              <div class="row 50%">
                                <div class="12u">
                                  <a href="" class="image fit"><img src="images/the-olmsted.png" alt="" style="border: 1px solid #708090;" /></a>
                                  <p style="margin-bottom: 0;font-size: 65%;text-align: center;"><b>The Olmsted</b></p>
                                </div>
                                <div class="12u">
                                  <a href="" class="image fit"><img src="images/cellar-door-chocolates.png" alt="" style="border: 1px solid #708090;" /></a>
                                  <p style="margin-bottom: 0;font-size: 65%;text-align: center;"><b>Exclusive Chocolatier</b></p>
                                </div>
                                <div class="12u">
                                  <a href="" class="image fit"><img src="images/the-wulfe-brothers.png" alt="" style="border: 1px solid #708090;" /></a>
                                  <p style="margin-bottom: 0;font-size: 65%;text-align: center;"><b>Live Band</b></p>
                                </div>
                                <div class="12u">
                                  <a href="" class="image fit"><img src="images/turners-circus.png" alt="" style="border: 1px solid #708090;" /></a>
                                  <p style="margin-bottom: 0;font-size: 65%;text-align: center;"><b>Entertainment</b></p>
                                </div>
                                <div class="12u">
                                  <a href="" class="image fit"><img src="images/the-fun-time-photo-booth.png" alt="" style="border: 1px solid #708090;" /></a>
                                  <p style="margin-bottom: 0;font-size: 65%;text-align: center;"><b>Photography</b></p>
                                </div>
                              </div>
                            </div>
                          </section>
                        </div>

                      </div>

                      <div class="9u 12u(medium) important(medium)">

                        <!-- Content -->
                        <div id="content">
                          <section>

                            <div class="row">
                              <p class="6u 12u(medium)"><b>When</b><br/>
                                Saturday, October 4, 2014<br/>
                                6:30pm
                              </p>﻿
                              <p class="6u 12u(medium)"><b>Where</b><br/>
                                The Olmsted<br/>
                                3701 Frankfort Ave,<br/>
                                Louisville, KY 40206
                              </p>﻿
                              <p class="12u 12u(medium)" style="margin-bottom: 0;"><b>What</b><br/>
                                Produced by the civic volunteer-driven advocacy group, A Breath of Fresh Air, this fun, exciting evening encourages guests to dress as their favorite superheros from the movies as they enjoy a gourmet themed dinner, music, dancing and a chance to bid on unique auction items and packages.  The evening includes:  
                              </p>
                              <p class="1u 12u(medium)" style="margin-bottom: 0;">
                              </p> 
                              <ul class="11u 12u(medium)" style="list-style-type:disc;margin-top: 0;margin-bottom: 0;">
                                <li>Live band &amp; dancing featuring music by The Wulfe Bros.</li>
                                <li>Signature cocktails and bourbon flights</li>
                                <li>Delicious hors d’oeuvres</li>
                                <li>Gourmet dinner</li>
                                <li>Costume contest with prizes for the winning female, male and couple</li>
                                <li>Turner Circus performers will be entertaining guests with aerial silks during the social hour</li>
                                <li>Photography station by Ty Lockart</li>
                                <li>Live auction of unique experience packages</li>
                                <li>Trivia contest with prizes for the winning table</li>
                                <li>Raffle</li>
                              </ul>
                              <p class="12u 12u(medium)"><b>Attire</b><br/>
                                Costume or cocktail
                              </p>﻿
                              <div class="12u 12u(medium)">
                                <p><b>Dazzle us with your superhero-themed costume and you may go home a winner!</b> Please come dressed as your favorite superhero. There will be prizes for best female, best male and best couple costumes.  Go wild, go broad with this.  The judge should be able to tell what character you represent.  To do that, any trait, movie costume element, quality of the character, like hair style, scar, limp, accent, object carried, can be emphasized to get the name of the character across; the more obvious, the better. And knowing information about the character's role in film(s) will get you extra credit with the 3-judge panel for the contest.</p>
                                <br/>
                                <p>Another approach to the contest is to wear a visual play on words related to a character or a title of a superhero film.</p>
                              </div>﻿
                            </div>

                            <div class="row">
                              <div class="6u 12u(medium)">
                                <a href="tickets-tables.html" class="button small icon fa-question-circle" style="font-size: 110%;">Ticket &amp; Table Info</a>
                              </div>
                              <div class="6u 12u(medium)">
                                <a href="sponsorship-opportunities" class="button alt small icon fa-question-circle" style="font-size: 110%;">Sponsorship Info</a>
                              </div>
                            </div>

                          </section>
                        </div>

                      </div>
                    </div>
                  <!--
                  </div>
                  -->
                  
                </section>
              </article>

          </div>
        </div>

        <div class="4u 12u$(medium)">
          <div id="sidebar">

            <!-- Sidebar -->
              <h3>2015 Big Screen Bash Sponsors</h3>

              <% ["Platinum", "Gold", "Silver", "Media", "Table", "Supporting"].each do |sponsor_type| %>
                <div class="row 100%">
                  <div class="12u 12u(medium)">

                    <section class="widget thumbnails box">
                      <h4><%= sponsor_type %> Sponsors</h4>
                      <div class="grid">
                        <div class="row 50%">

                          <% sponsors = CSV.read("./data/sponsors-#{sponsor_type.downcase}.csv") %>
                          <% sponsors.each do |sponsor| %>
                            <% image_file = "#{sponsor[0].downcase}.png" %> 
                            <% link = sponsor[1] %> 

                            <div class="6u">
                              <a href="<%= link %>" class="image fit"><img src="images/sponsors-<%= sponsor_type.downcase %>/<%= image_file %>" alt="" style="border: 1px solid #708090;" /></a>
                            </div>
                          <% end %>

                        </div>
                      </div>
                    </section>

                  </div>
                </div>
              <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>