<!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div class="row 200%">
        <div class="8u 12u$(medium)">
          <div id="content">

            <!-- Content -->
              <article>

                <section>
                  <a href="#big-screen-bash.html" class="image fit">
                    <img src="images/bofa-header.jpg" alt="" />
                  </a>
                </section>

                <section>
                  <h3>A Breath of Fresh Air is pleased to announce our 9th Annual “Big Screen Bash” to benefit American Lung Association</h3>

                  <p>Honorary Chairs Christy Brown, Linda Danna &amp; Pattie Dale Tye Invite You to: “Join us and spur on initiatives for clean air and lung health!”</p>

                  <p>Each year this event raises significant funds in support of the American Lung Association. Contributions help fund cutting-edge medical research, patient services, education and advocacy for public policy in support of the association’s mission to save lives by improving lung health and preventing lung disease.</p> 

                  <!--
                  <div class="container">
                  -->
                    <div class="row 200%">
                      <div class="3u 12u(medium)">

                        <!-- Sidebar -->
                        <div id="sidebar">
                          <section>
                            <div class="grid">
                              <div class="row 50%">
                                <div class="12u">
                                  <a href="" class="image fit"><img src="images/the-olmsted.png" alt="The Olmstead" style="border: 1px solid #708090;" /></a>
                                  <p style="margin-bottom: 0;font-size: 65%;text-align: center;"><b>The Olmsted</b></p>
                                </div>
                                <div class="12u">
                                  <a href=" " class="image fit"><img src="images/southern_glazers.png" alt="Southern Glazers Wine and Spirits" style="border: 1px solid #708090;" /></a>
                                  <p style="margin-bottom: 0;font-size: 65%;text-align: center;"><b>Beverage Sponsor</b></p> 
                                </div>
                                <div class="12u">
                                  <!-- <a href="http://www.cellardoorchocolates.com" class="image fit"><img src="images/cellar-door-chocolates.png" alt="Cellar Door Chocolates" style="border: 1px solid #708090;" /></a>
                                  <p style="margin-bottom: 0;font-size: 65%;text-align: center;"><b>Exclusive Chocolatier</b></p> -->
                                </div>
                                <div class="12u">
                                  <!-- <a href="" class="image fit"><img src="images/the-wulfe-brothers.png" alt="The Wulfe Brothers" style="border: 1px solid #708090;" /></a>
                                  <p style="margin-bottom: 0;font-size: 65%;text-align: center;"><b>Live Band</b></p> -->
                                </div>
                                <div class="12u">
                                  <!-- <a href="" class="image fit"><img src="images/turners-circus.png" alt="Turners Circus" style="border: 1px solid #708090;" /></a>
                                  <p style="margin-bottom: 0;font-size: 65%;text-align: center;"><b>Entertainment</b></p> -->
                                </div>
                                <div class="12u">
                                  <!-- <a href="" class="image fit"><img src="images/ty-lockhart-photography.png" alt="Ty Lockhart Photography" style="border: 1px solid #708090;" /></a>
                                  <p style="margin-bottom: 0;font-size: 65%;text-align: center;"><b>Photography</b></p> -->
                                </div>
                              </div>
                            </div>
                          </section>
                        </div>

                      </div>

                      <div class="9u 12u(medium) important(medium)">

                        <!-- Content -->
                        <div id="content">
                          <section>

                            <div class="row">
                              <p class="6u 12u(medium)"><b>When</b><br/>
                                Saturday, October 7, 2017<br/>
                                6:30pm
                              </p>﻿
                              <p class="6u 12u(medium)"><b>Where</b><br/>
                                The Olmsted<br/>
                                3701 Frankfort Ave,<br/>
                                Louisville, KY 40206
                              </p>﻿
                              <p class="12u 12u(medium)" style="margin-bottom: 0;"><b>What</b><br/>
                                Produced by the civic volunteer-driven advocacy group, A Breath of Fresh Air, this fun, exciting evening encourages guests to dress in their best western attire while enjoying delicious appetizers, gourmet themed dinner, music, dancing and a chance to bid on unique auction items and raffle packages.  The evening includes:  
                              </p>
                              <p class="1u 12u(medium)" style="margin-bottom: 0;">
                              </p> 
                              <ul class="11u 12u(medium)" style="list-style-type:disc;margin-top: 0;margin-bottom: 0;">
                                <li>Delicious appetizers and four course dinner</li>
                                <li>Bourbon tastings and signature drinks</li>
                                <li>Dancing and live music</li>
                                <li>Live auction and raffle of experience packages</li>
                                <li>Photo stations</li>
                              </ul>
                              <p class="6u 12u(medium)"><b>Tickets</b><br/>
                                <a href="https://alamid.ejoinme.org/MyEvents/BreathofFreshAir2017/TicketTableInformation/tabid/887451/Default.aspx">Individual tickets</a> are $150<br/>
                                <a href="https://alamid.ejoinme.org/MyEvents/BreathofFreshAir2017/TicketTableInformation/tabid/887451/Default.aspx">Table of 8</a> is $1,200
                              </p>﻿
                              <p class="6u 12u(medium)"><b>Attire</b><br/>
                                Western or cocktail
                              </p>﻿
                              <!--<p class="12u 12u(medium)"><b>Costume Contest</b><br/>
                              <i>Dazzle us with your superhero-themed costume and you may go home a winner!</i> 
                              Please come dressed as your favorite superhero. There will be prizes for best female, best male and best couple costumes.  Go wild, go broad with this.  The judge should be able to tell what character you represent.  To do that, any trait, movie costume element, quality of the character, like hair style, scar, limp, accent, object carried, can be emphasized to get the name of the character across; the more obvious, the better. And knowing information about the character's role in the movies will get you extra credit with the 3-judge panel for the contest. Another approach to the contest is to wear a visual play on words related to a character or a title of a superhero film.</p>-->
                            </div>

                            <div class="row">
                              <div class="6u 12u(medium)">
                                <a href="tickets-tables.html" class="button small icon fa-question-circle" style="font-size: 110%;">Ticket/Table Info</a>
                              </div>
                              <div class="6u 12u(medium)">
                                <a href="sponsorship-opportunities" class="button alt small icon fa-question-circle" style="font-size: 110%;">Sponsorship Info</a>
                              </div>
                            </div>

                          </section>
                        </div>

                      </div>
                    </div>
                  <!--
                  </div>
                  -->
                  
                </section>
              </article>

          </div>
        </div>

        <div class="4u 12u$(medium)">
          <div id="sidebar">
            <%= render 'sponsors-sidebar-partial.html.erb' %>
          </div>
        </div>
        
      </div>
    </div>
  </div>