<!-- Banner -->
  <div id="banner-wrapper">
    <div id="banner" class="box container">
      
      <div class="row">
        <div class="2u 12u(medium)">
          <div class="12u"><a href="#" class="image fit">
            <img src="images/bofa-logo.png" alt="" style="border: 5px solid #ff4486;" /></a>
          </div>
        </div>
        <div class="10u 12u(medium)" style="font-size: 55%;">
          <h2>A Breath of Fresh Air</h2>
          <p>Serving Louisville, Kentucky and Southern Indiana to improve air quality, lung health, and prevent lung disease by supporting the American Lung Association and clean air initiatives.
          <!-- <br/><a href="about-us.html">About Us</a></p> -->
        </div>
      </div>

    </div>
  </div>

  <br/>
  
<!-- Main -->
	<div id="main-wrapper">
		<div class="container">

			<!-- Content -->
				<div id="content">
					<section class="last">
						<h2>Contact Us</h2>
						<script type="text/javascript"> id = 195106; </script>
						<script type="text/javascript" src="http://kontactr.com/wp.js"></script>
					</section>
				</div>

		</div>
	</div>