<!-- Banner -->
  <div id="banner-wrapper">
    <div id="banner" class="box container">
      
<!--
      <div class="row">
        <div class="2u 12u(small)">
          <div class="12u"><a href="#" class="image fit">
            <img src="images/bofa-logo.png" alt="" style="border: 4px solid #ff4486;" /></a>
          </div>
        </div>
        <div class="10u 12u(small)" style="font-size: 55%;">
          <h2>A Breath of Fresh Air</h2>
          <p>Serving Louisville, Kentucky and Southern Indiana to improve air quality, lung health, and prevent lung disease by supporting the American Lung Association and clean air initiatives.
        </div>
      </div>
-->
      <div class="row">
        <div class="12u 12u(small)" style="font-size: 55%;">
          <h2>A Breath of Fresh Air</h2>
          <p>Serving Louisville, Kentucky and Southern Indiana to improve air quality, lung health, and prevent lung disease by supporting the American Lung Association and clean air initiatives.
        </div>
      </div>

    </div>
  </div>

  <br/>

<!-- Banner -->
  <div id="banner-wrapper">
    <div id="banner" class="box container">
      
      <div class="row">
        <div class="12u 12u(medium)">
          <div class="12u"><a href="#big-screen-bash.html" class="image fit">
            <img src="images/superparty-postcard.png" alt="" /></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="6u 12u(medium)" style="font-size: 55%;">
          <p>This year, A Breath of Fresh Air is pleased to announce our 7th annual Big Screen Bash featuring superheroes in the movies, all proceeds to benefit American Lung Association.</p>
        </div>
        <div class="6u 12u(medium)" style="font-size: 55%;">
          <p>Last year, the 2014 Big Screen Bash was a sold out event!  Snips, Ships and Oompa Loompas, gave guests a multitude of options for Johnny Depp characters and the costumes were amazing.</p>
        </div>
        <div class="12u 12u(medium)" style="font-size: 55%;">
          <p>Each year the Big Screen Bash raises significant funds in support of the American Lung Association.</p>
        </div>
      </div>

      <div class="row">
        <div class="6u 12u(medium)">
            <a href="big-screen-bash.html" class="button big icon fa-arrow-circle-right">Learn more!</a>
        </div>
        <div class="6u 12u(medium)">
            <a href="http://photos.midlandlung.org/Galas-Luncheons/Silver-Screen-Soirees" class="button alt big icon fa-arrow-circle-right">Last year's event</a>
        </div>
      </div>
      
      <div class="row">
        <div class="6u 12u(medium)" style="font-size: 55%;">
          <p><i>“The Big Screen Bash was exciting from start to stop, from the venue to the menu, to the awesome Wulfe Bros band and the luscious Cellar Door chocolates, from the raffle items to the experiences up for bids in the live auction!”</i></p>
          <p><b>Leslie Newman, Attorney</b></p>
        </div>
        <div class="6u 12u(medium)" style="font-size: 55%;">
          <p><i>“What a fantastic event!  Had a great time.  Kudos to all who made it happen.”</i></p>
          <p><b>Karen Stice, A.R.N.P.</b></p>
        </div>
      </div>

    </div>
  </div>

<!-- Features -->
  <div id="features-wrapper">
    <div class="container box">
      <h2>Our Clean Air and Healthy Lung Partners</h2>

      <div class="row 175%">
        <div class="12u 12u(medium)">

          <section class="widget thumbnails">
            <div class="grid">
              <div class="row 50%">

                <% partners = CSV.read("./data/partners.csv") %>
                  <% partners.each do |partner| %>
                    <% image_file = "#{partner[0].downcase}.png" %> 
                    <% link = partner[1] %> 

                    <div class="2u">
                      <a href="<%= link %>" class="image fit"><img src="images/partners/<%= image_file %>" alt="" style="border: 1px solid #708090;" /></a>
                    </div>
                  <% end %>

              </div>
            </div>
          </section>

        </div>
      </div>

    </div>
  </div>

<!-- Main -->
<!--
  <div id="main-wrapper">

    <div class="container">
      <div class="row 200%">
        <div class="4u 12u(medium)">

            <div id="sidebar">
              <section class="widget thumbnails">
                <h3>A Grid!</h3>
                <div class="grid">
                  <div class="row 50%">
                    <div class="6u"><a href="#" class="image fit">
                      <img src="images/partners/pic04.jpg" alt="" /></a>
                    </div>
                    <div class="6u"><a href="#" class="image fit">
                      <img src="images/partners/pic05.jpg" alt="" /></a>
                    </div>
                    <div class="6u"><a href="#" class="image fit">
                      <img src="images/partners/pic06.jpg" alt="" /></a>
                    </div>
                    <div class="6u"><a href="#" class="image fit">
                      <img src="images/partners/pic07.jpg" alt="" /></a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

        </div>
        <div class="8u 12u(medium) important(medium)">

            <div id="content">
              <section class="last">
                <h2>So what's this all about?</h2>
                <p>This is <strong>Verti</strong>, a free and fully responsive HTML5 site template by <a href="http://html5up.net">HTML5 UP</a>.
                Verti is released under the <a href="http://html5up.net/license">Creative Commons Attribution license</a>, so feel free to use it for any personal or commercial project you might have going on (just don't forget to credit us for the design!)</p>
                <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit amet phasellus quam turpis.</p>
                <a href="#" class="button icon fa-arrow-circle-right">Continue Reading</a>
              </section>
            </div>

        </div>
      </div>
    </div>
  </div>

  -->