<!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div id="content">

        <h2>Live Auction</h2>
        <p>
          Below are some of the exciting items that will be auctioned off at this year's event!
          <br/>  
          Please keep checking back as we add new items.
        </p>

        <!-- Content -->
          <article>
            <section class="widget thumbnails">
              <div class="grid">

                  <div class="row 50%">
                    <div class="4u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/211-clover-lane.png" alt="211 Clover Lane" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="8u" style="line-height: 130%;">
                      <h3>Bring 211 Clover Lane into Your Own Home</h3>
                      <p>Invite some of your closest friends to join you in experiencing some of Louisville’s finest dining… prepared in the intimacy of your own home. Andrew Smith, owner of 211 Clover Lane will provide a four-course culinary dinner for eight.</p>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="2u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/tom-owen.png" alt="Tom Owen" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="2u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/old-armstrong-mansion.png" alt="Old Armstrong Mansion" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="8u" style="line-height: 130%;">
                      <h3>Dining and Tour of Old Louisville with Historian Tom Owen</h3>
                      <p>Enjoy a social hour, historical walking tour of Old Louisville and dinner with Tom Owen in the Old Armstrong Mansion. This once-in-a-lifetime experience for eight includes a gourmet four-course dinner with one of Louisville’s most entertaining historians!</p>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="4u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/casa-de-cielo.png" alt="Casa de Cielo" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="8u" style="line-height: 130%;">
                      <h3>Casa de Cielo – Pure Luxury in the Mayan Riviera</h3>
                      <p>This elegant beachfront villa in a private gated community can be yours for a week. Amenities in this 2-story “house in the sky” include four spacious bedrooms with large in-suite baths, private swimming pool, kayaks, patios, dining and living room, and fully-equipped kitchen offering everything needed to prepare and serve an elegant gourmet dinner (or have the dinner prepared for you by a professional cook). Enjoy drinks while viewing ocean sunsets from the roof-top patio or quietly slip to the beach after dark – you may catch a sea turtle coming to shore to lay her eggs. Truly a trip to tropical paradise in Akumal, Mexico. </p>
                    </div>
                  </div>

              </div>
            </section>
          </article>

      </div>
    </div>
  </div>