<!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div id="content">

        <h2>Live Auction</h2>
        <p id="liveauctiontitle">
          Below are some of the exciting items that will be auctioned off at this year's event! Please keep checking back as we add new items.
        </p>

        <!-- Content -->

          <article>
            <section class="widget thumbnails">
              <div class="grid">

                  <div class="row 50%">
                    <div class="6u" style="line-height: 160%;">
                      <h3>he Best of Butchertown</h3>
                      <p>Enjoy a decadent evening of chocolate making with Erika Chavez in her Cellar Door Chocolates kitchen…then walk one block west on Washington Street to Butchertown Grocery for dinner and savor a five-course tasting experience.  This culinary combination for six will be a night of delight you won’t  soon forget!</p>
                      <p><i><b>Value $1,400+</b></i></p>
                    </div>
                    <div class="6u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/edgewater-resort.png" alt="Edgewater Resort &amp Spa at Taylorsville Lake" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/bourbon-barrel-kitchen-studio.png" alt="Bourbon Barrell Kitchen Studio" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="6u" style="line-height: 160%;">
                      <h3>Leave a Legacy…Toast Your Tree</h3>
                      <p>Celebrate Earth Day Sunday, April 22, 2018 by dedicating your very own tree in the new Waterfront Botanical Gardens! You and 9 guests, Bob Hill of Hidden Hill Nursery and Kasey Maier, Executive Director of the Gardens, will enjoy wine and seasonally-inspired hors d’oeuvres provided by Farm to Fork Catering in a private celebration on the site of the future Gardens. The tree will be planted in late winter. During the Earth Day celebration, your name will be placed on the tree via signage, ensuring your lasting impact on the environment and support of Waterfront Botanical Gardens.</p>
                      <p><i><b>Value Priceless</b></i></p>
                    </div>
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/matt-jamie.png" alt="Matt Jamie" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/morritts1.png" alt="Morritt's (1)" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="6u" style="line-height: 160%;">
                      <h3>Bring 211 Clover Lane into Your Own Home</h3>
                      <p>Invite some of your closest friends to join you in experiencing some of Louisville’s finest dining… prepared in the intimacy of your own home. Andrew Smith, owner of 211 Clover Lane will provide a four-course culinary dinner for eight.</p>
                      <p><i><b>Value $2,000+ (Excludes holidays &amp; Derby week)</b></i></p>
                    </div>
                      <p><i><b></b></i></p>
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/morritts2.png" alt="Morritt's (2)" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/211-clover-lane.png" alt="211 Clover Lane" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="6u" style="line-height: 160%;">
                      <h3>Vacation for Six in Southwest France</h3>
                      <p>Maison Rose is the fairy tale that comes true. Enjoy scenic terrace and gardins and beautiful furnishings in the Idyllic village of Saint-Jean-de-Côle, a region famed for its cuisine. </p>
                      <p><i><b>Value $5,000 (Open April - October 2018 Limited Availablity in 2017)</b></i></p>
                    </div>
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/211-clover-lane-logo.png" alt="211 Clover Lane" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/casa-de-cielo-1.png" alt="Casa de Cielo" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="6u" style="line-height: 160%;">
                      <h3>Autumn Retreat for a Week at Edgewater Resort & Spa</h3>
                      <p>Relax with family or friends. This lovely lodging makes for the perfect way to enjoy the cool and colorful autumn.  The cottage includes 3 bedrooms and 3 baths, fireplaces, a fully-equipped kitchen, and balconies.</p>
                      <p><i><b>Value $1,600</b></i></p>
                    </div>
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/casa-de-cielo-2.png" alt="Casa de Cielo" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/tom-owen.png" alt="Tom Owen" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="6u" style="line-height: 160%;">
                      <h3>Old Louisville Ghost Tour with David Domine & Dinner for 8</h3>
                      <p>This “spirited” gathering includes a tour of America’s most haunted neighborhood guided by Louisville’s famous Ghost Author, David Domine. A dinner for eight tops off the evening and…it’s quite possible you may feel the presence of uninvited guests! </p>
                      <p><i><b>Value Priceless</b></i></p>
                    </div>
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/old-armstrong-mansion.png" alt="Old Armstrong Mansion" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="6u" style="line-height: 160%;">
                      <h3>Spirited Weekend in Bardstown for Four</h3>
                      <p>This get-away begins at Barton 1792, the oldest fully-operating Distillery in the “Bourbon Capital of the World” and includes a 1792 Single Barrel Experience (a VIP behind the scenes tour), lunch with a 1792 Brand Ambassador at one of Bardstown's favorite restaurants, a once in a lifetime opportunity to select a barrel of 1792 in Warehouse H, one bottle of 1792 from selected barrel for each member of your party, and a one night stay at Bourbon Manor, a Bourbon-lover's paradise with ten spirit-themed B&amp;B guestrooms.</p>
                      <p><i><b>Value $1,200</b></i></p>
                    </div>
                    <div class="6u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/santorini-greek-islands.png" alt="Edgewater Resort &amp Spa at Taylorsville Lake" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/makers-mark-barrels.png" alt="Maker's Mark Barrels" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="6u" style="line-height: 160%;">
                      <h3>Get Up to “Speed” with High Culture</h3>
                      <p>The Speed Art Museum…its mission: Where art from around the world invites and inspires diverse audiences to experience the power of creativity. This package for eight at the Speed Museum includes a private tour with a curator and dinner afterwards.</p>
                      <p><i><b>Value $1,000</b></i></p>
                    </div>
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/makers-mark-ingredients.png" alt="Maker's Mark Ingredients" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                      
                   <!--<div class="row 50%">
                    <div class="6u" style="line-height: 160%;">
                      <h3>Get Up to “Speed” with High Culture</h3>
                      <p>The Speed Art Museum…its mission: Where art from around the world invites and inspires diverse audiences to experience the power of creativity. This package for eight at the Speed Museum includes a private tour with a curator and dinner afterwards.</p>
                      <p><i><b>Value $1,000</b></i></p>
                    </div>
                    <div class="6u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/edgewater-resort.png" alt="Edgewater Resort &amp Spa at Taylorsville Lake" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>
                  </div>-->

              </div>
            </section>
          </article>

      </div>
    </div>
  </div>