<!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div id="content">

        <h2>Live Auction</h2>
        <p id="liveauctiontitle">
          Below are some of the exciting items that will be auctioned off at this year's event! Please keep checking back as we add new items.
        </p>

        <!-- Content -->
          <h3>A week at Maison Rose in Southwest France</h3>
          <h3>A week at St. Thomas Homes in the Virgin Islands</h3>
          <h3>A 211 Clover Lane dinner for 8 prepared in home</h3>
          <h3>A bourbon weekend in Bardstown</h3>
          <h3>An open fire cooking with Barry Yates</h3>
          <h3>Best of Butchertown - A chocolate making class at Cellar Door Chocolates and 5-course tasting with drinks for 6 at Butchertown Grocery</h3>
          <h3>Private curator tour for 8 at the Speed and dinner</h3>
          <h3>Old Louisville Ghost Tour and dinner for 8</h3>
          <h3>Waterfront Gardens Tree Planting Party</h3>
          <article>
            <section class="widget thumbnails">
              <!--<div class="grid">

                  <div class="row 50%">
                    <div class="6u" style="line-height: 160%;">
                      <h3>A week at Maison Rose in Southwest France</h3>
                      <p>This beautiful lake cottage offers 3 bedrooms and 3 full baths with lake views from upper balconies and front porch.  The master suite offers a king bed; 2nd bedroom has queen bed; 3rd bedroom - 2 twin beds. This cottage has fireplaces, two TV’s and a fully equipped kitchen with modern appliances.  Sleeps 6.</p>
                      <p><i><b>Value $700 (Excludes holidays and Derby week)</b></i></p>
                    </div>
                    <div class="6u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/edgewater-resort.png" alt="Edgewater Resort &amp Spa at Taylorsville Lake" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/bourbon-barrel-kitchen-studio.png" alt="Bourbon Barrell Kitchen Studio" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="6u" style="line-height: 160%;">
                      <h3>A week at St. Thomas Homes in the Virgin Islands</h3>
                      <p>This very special experience includes a tour of Bourbon Barrel Foods micro-brewed Bluegrass Soy Sauce production facility in historic Butchertown Market led by Matt Jamie, founder and owner. Guests enjoy samplings of Bourbon Barrel Foods’ products, gourmet inspired food and beverages, and a Bourbon Barrel Foods Swag Bag!</p>
                      <p><i><b>Value $1,200 (Mutually agreed upon date)</b></i></p>
                    </div>
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/matt-jamie.png" alt="Matt Jamie" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/morritts1.png" alt="Morritt's (1)" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="6u" style="line-height: 160%;">
                      <h3>A 211 Clover Lane dinner for 8 prepared in home</h3>
                      <p>The Premier vacation destination on Grand Cayman is the Morritt’s Grand.  Room boasts incredible, uninterrupted, panoramic ocean view with a balcony overlooking the beach.  While away the hours in complete relaxation on the beach or enjoy the giant oceanfront infinity pool, complete with swim up bar, deluxe hot tub Jacuzzi, and kid’s pool for the little ones.</p>
                      <p><i><b>Value $3,200 (Excludes Thanksgiving, Christmas &amp New Years)</b></i></p>
                    </div>
                      <p><i><b></b></i></p>
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/morritts2.png" alt="Morritt's (2)" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/211-clover-lane.png" alt="211 Clover Lane" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="6u" style="line-height: 160%;">
                      <h3>A bourbon weekend in Bardstown</h3>
                      <p>Invite some of your closest friends to join you in experiencing some of Louisville’s finest dining… prepared in the intimacy of your own home. Andrew Smith, owner of 211 Clover Lane will provide a four-course culinary dinner for eight.</p>
                      <p><i><b>Value $1,600 (Holidays &amp Derby Week excluded)</b></i></p>
                    </div>
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/211-clover-lane-logo.png" alt="211 Clover Lane" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/casa-de-cielo-1.png" alt="Casa de Cielo" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="6u" style="line-height: 160%;">
                      <h3>An open fire cooking with Barry Yates</h3>
                      <p>This elegant beachfront villa in a private gated community can be yours for a week. Amenities in this 2-story “house in the sky” include four spacious bedrooms with large in-suite baths, private swimming pool, kayaks, patios, dining and living room, and fully-equipped kitchen offering everything needed to prepare and serve an elegant gourmet dinner (or have the dinner prepared for you by a professional cook).  Truly a trip to tropical paradise in Akumal, Mexico.</p>
                      <p><i><b>Value $5,000 (Available mid-June through October)</b></i></p>
                    </div>
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/casa-de-cielo-2.png" alt="Casa de Cielo" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/tom-owen.png" alt="Tom Owen" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="6u" style="line-height: 160%;">
                      <h3>Best of Butchertown - A chocolate making class at Cellar Door Chocolates and 5-course tasting with drinks for 6 at Butchertown Grocery</h3>
                      <p>Enjoy a social hour, historical walking tour of Old Louisville and dinner with Tom Owen in the Old Armstrong Mansion. This once-in-a-lifetime experience for eight includes a gourmet four-course dinner provided by Alberto’s Italian Restaurant while chatting with one of Louisville’s most engaging historians!</p>
                      <p><i><b>Value $1,200 (Available on Sunday, date to be agreed upon)</b></i></p>
                    </div>
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/old-armstrong-mansion.png" alt="Old Armstrong Mansion" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="6u" style="line-height: 160%;">
                      <h3>Private curator tour for 8 at the Speed and dinner</h3>
                      <p>Foods of Greece: An evening exploring traditional dishes from various regions of Greece. Alex Gerassimides Fischer, Karla Katakis and Joanne Caridis will prepare a Greek meal for ten guests at the elegant Waterfront Park Place. Live entertainment by the talented Kostas Kostanis. Please redeem by April 1, 2016.</p>
                      <p><i><b>Value $1500 (To be redeemed by April 1, 2016)</b></i></p>
                    </div>
                    <div class="6u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/santorini-greek-islands.png" alt="Edgewater Resort &amp Spa at Taylorsville Lake" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>

                  <div class="row 50%">
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/makers-mark-barrels.png" alt="Maker's Mark Barrels" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                    <div class="6u" style="line-height: 160%;">
                      <h3>Old Louisville Ghost Tour and dinner for 8</h3>
                      <p>A tour of Maker’s Mark is up for auction and provides ten friends an opportunity to visit one of Kentucky’s most famous distilleries! Enjoy great fellowship and bourbon at the historic Maker’s Mark Distillery in Loretto, KY. This certificate is for a private tour of the distillery with the son of the founder and Chairman Emeritus, Bill Samuels Jr. Participants will also experience a private bourbon tasting and lunch at the Toll Gate Café during their visit.</p>
                      <p><i><b>Value $Priceless (Subject to the distillery’s availability)</b></i></p>
                    </div>
                    <div class="3u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/makers-mark-ingredients.png" alt="Maker's Mark Ingredients" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                      
                   <div class="row 50%">
                    <div class="6u" style="line-height: 160%;">
                      <h3>Waterfront Gardens Tree Planting Party</h3>
                      <p>This beautiful lake cottage offers 3 bedrooms and 3 full baths with lake views from upper balconies and front porch.  The master suite offers a king bed; 2nd bedroom has queen bed; 3rd bedroom - 2 twin beds. This cottage has fireplaces, two TV’s and a fully equipped kitchen with modern appliances.  Sleeps 6.</p>
                      <p><i><b>Value $700 (Excludes holidays and Derby week)</b></i></p>
                    </div>
                    <div class="6u">
                      <a href="#" class="image fit"><img src="images/live-auction-items/edgewater-resort.png" alt="Edgewater Resort &amp Spa at Taylorsville Lake" style="-ms-interpolation-mode: bicubic; background:rgba(255,255,255,.001); image-rendering: auto;border: 1px solid #708090;" /></a>
                    </div>
                  </div>
                  </div>

              </div>-->
            </section>
          </article>

      </div>
    </div>
  </div>