<!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div class="row 200%">
      
        <div class="4u 12u$(medium)">
          <div id="sidebar">
            <%= render 'sponsors-sidebar-partial.html.erb' %>
          </div>
        </div>

        <div class="8u 12u$(medium) important(medium)">
          <div id="content">

            <article class="box">
              <h4>NEWS RELEASE</h4>

              <div class="row">
                <p class="6u 12u(medium)" style="line-height: 160%;"><b>Contacts:</b><br/>
                Deena Adams<br/>
                Event Organizer<br/>
                502-363-2652<br/>
                deena.adams@lung.org</p>
                <p class="6u 12u(medium)" style="line-height: 160%;"><br/>
                Veronica Combs<br/>
                Event Volunteer<br/>
                812-987-6076<br/>
                veronica.combs@gmail.com</p>
              </div>

              <h2 class="12u 12u(medium)">Get the Big Screen Bash on your Halloween to-do list</h2>
              <h3 class="12u 12u(medium)">It’s a Bird, It’s a Plane, It’s a SUPERPARTY! Featuring Super Heroes in the Movies</h3>

              <p class="12u 12u(medium)" style="margin-bottom:50%;">(Louisville, KY—August 2015) Whether you’ve always wanted to be Batman, Wonder Woman, The Flash or dreamt of defeating the Joker, Cheetah or Professor Zody, a ticket to this SUPERPARTY guarantees a night of excitement! Reserve your ticket now for the 7th annual Big Screen Bash, a grown-up Halloween Party to benefit the American Lung Association. Produced by the civic advocacy group A Breath of Fresh Air, this lively and much anticipated event sells out early.</p>

              <p class="12u 12u(medium)" style="margin-bottom:50%;">You’ll feel as though you’ve entered Gotham City as you are met by an array of Super Heroes.  As well as a four-course dinner, the evening will include:</p>

              <p class="1u 12u(medium)" style="margin-bottom:50%;">
              </p>
              <ul class="11u 12u(medium)" style="list-style-type:disc;margin-top:0;margin-bottom:50%;">
                <li>Live music by the Wulfe Bros</li>
                <li>Superhero villains performing on aerial silks</li>
                <li>Delicious desserts provided by Cellar Door Chocolates</li>
                <li>Ty Lockhart’s photography station</li>
              </ul>

              <p class="12u 12u(medium)" style="margin-bottom:50%">Guests are encouraged to come dressed in costume as their favorite Super Hero.  Your costume creativity may be rewarded also in the competition for best costume. We will award three prizes: best female, best male and best couple costumes.</p>

              <p class="12u 12u(medium)" style="margin-bottom:50%;">Items up for grabs during the live auction include 6-7 amazing experiences, sure to inspire lively bidding. Lucky winners of the evening’s raffle could secure one of 8 offerings including an overnight at West Baden Hotel (includes dinner and spa for 2 and a Porsche for the weekend), an evening of decadent chocolate-making led by Erika Chavez-Graziano of Cellar Door Chocolates or a year’s membership at Elements Therapeutic Massage.</p>

              <p class="12u 12u(medium)" style="margin-bottom:50%;"> It’s all happening Saturday, October 3rd, 6:30 PM at The Olmstead on Frankfort Avenue.  Individual tickets are available for $150, or go as a group of eight for a night of fun, and reserve a table for $1,200.  For tickets and additional information, visit www.bofakya.org or call the American Lung Association in Kentucky at (502) 363-2652.</p>

              <p class="12u 12u(medium)">This event is produced by <b>A Breath of Fresh Air</b>, a civic advocacy group working to improve lung health and air quality in the Kentuckiana area. Funds from this event support American Lung Association’s mission… <b>saving lives by improving lung health and preventing lung disease</b>.</p>

            </article>

          </div>
        </div>
      </div>
    </div>
  </div>