<!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div class="row 200%">
      
        <div class="4u 12u$(medium)">
          <div id="sidebar">
            <%= render 'sponsors-sidebar-partial.html.erb' %>
          </div>
        </div>

        <div class="8u 12u$(medium) important(medium)">
          <div id="content">

            <article class="box">

              <h3>NEWS RELEASE</h3>

              <div class="row">
                <div class="2u 12u(medium)">
                  <p><b>Contacts:</b></p>
                </div>
                <div class="5u 12u(medium)" style="line-height: 160%;">
                    <p>Deena Adams</p>
                    <p>Event Organizer</p>
                    <p>502-363-2652</p>  
                    <p>deena.adams@lung.org</p>
                </div>
                <div class="5u 12u(medium)" style="line-height: 160%;">
                    <p>Veronica Combs</p>
                    <p>Event Volunteer</p>
                    <p>812-987-6076</p>  
                    <p>veronica.combs@gmail.com</p>
                </div>
              </div>

              <h2>Get the Big Screen Bash on your Halloween to-do list</h2>
              <h3>It’s a Bird, It’s a Plane, It’s a SUPERPARTY! Featuring Super Heroes in the Movies</h3>

              <p>(Louisville, KY—August 2015) Whether you’ve always wanted to be Batman, Wonder Woman, The Flash or dreamt of defeating the Joker, Cheetah or Professor Zody, a ticket to this SUPERPARTY guarantees a night of excitement! Reserve your ticket now for the 7th annual Big Screen Bash, a grown-up Halloween Party to benefit the American Lung Association. Produced by the civic advocacy group A Breath of Fresh Air, this lively and much anticipated event sells out early.</p>

              <p>You’ll feel as though you’ve entered Gotham City as you are met by an array of Super Heroes.  As well as a four-course dinner, the evening will include: Live music by the Wulfe Bros; superhero villains performing on aerial silks; delicious desserts provided by Cellar Door Chocolates; Ty Lockhart’s photography station.</p>

              <p>Guests are encouraged to come dressed in costume as their favorite Super Hero.  Your costume creativity may be rewarded also in the competition for best costume. We will award three prizes: best female, best male and best couple costumes.</p>

            </article>

          </div>
        </div>
      </div>
    </div>
  </div>