<!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div id="content">

        <h2>Raffle</h2>
        <p>
          Below are some of the exciting items that will be raffled off that this year's event!
          <br/>
          Please keep checking back as we add new items.
        </p>

        <!-- Content -->
          <article>
            <h2></h2>
            <p></p>
          </article>

      </div>
    </div>
  </div>