<!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div class="row 200%">
        <div class="8u 12u$(medium)">
          <div id="content">

            <!-- Content -->
              <article>

                <h2>Experience the difference a Sponsorship can make! </h2>
                <p>In its 7th year, the ALA of Kentucky October event is one of Louisville’s most exciting Fall events.  Planned for corporate, small business, and individual entertaining, this fundraiser offers a fun night out that benefits one of the most important health-centered charities in Kentuckiana.  This year’s event, <b>It'a a Bird, It's a Plane, It's a Superparty</b>, will not disappoint!  Guests will be treated to and involved in a “Big Screen Bash" featuring superheros in the movies.</p>

                <div class="row 100%">
                  <div class="4u 12u(medium)">
                    <h3>Presenting Sponsor<br/>$10,000</h3>
                  </div>
                  <div class="8u 12u(medium)">
                    <p>A Presenting sponsorship entitles you and your company to:</p>
                    <!--
                    <ul style="list-style-type:disc;line-height: 130%;">
                      <li>Company name on all print material</li>
                      <li>Opportunity for representative from company to speak during event</li>
                      <li>Three tables of eight with preferred seating</li>
                      <li>Recognition and visual display at event</li>
                      <li>Full page recognition in event program</li>
                    </ul>
                    -->
                  </div>
                </div>

                <div class="row 100%">
                  <div class="4u 12u(medium)">
                    <h3>Platinum Sponsor<br/>$7,500</h3>
                  </div>
                  <div class="8u 12u(medium)">
                    <p>A Platinum sponsorship entitles you and your company to:</p>
                    <!--
                    <ul style="list-style-type:disc;line-height: 130%;">
                      <li>Company name on all advertising and invitations</li>
                      <li>Three tables of eight with preferred seating</li>
                      <li>Recognition and visual display at event</li>
                      <li>Half-page recognition in event program</li>
                    </ul>
                    -->
                  </div>
                  </div>
                </div>

                <div class="row 100%">
                  <div class="4u 12u(medium)">
                    <h3>Gold Sponsor<br/>$5,000</h3>
                  </div>
                  <div class="8u 12u(medium)">
                    <p>A Gold sponsorship entitles you and your company to:</p>
                    <!--
                    <ul style="list-style-type:disc;line-height: 130%;">
                      <li>Company name on all print and invitations</li>
                      <li>Two tables of eight with preferred seating</li>
                      <li>Recognition and visual display at event</li>
                      <li>Recognition in event program</li>
                    </ul>
                    -->
                  </div>
                </div>

                <div class="row 100%">
                  <div class="4u 12u(medium)">
                    <h3>Silver Sponsor<br/>$3,000</h3>
                  </div>
                  <div class="8u 12u(medium)">
                    <p>A Silver sponsorship entitles you and your company to:</p>
                    <!--
                    <ul style="list-style-type:disc;line-height: 130%;">
                      <li>Company name on all print and invitations</li>
                      <li>One table of eight with preferred seating</li>
                      <li>Visual display at event</li>
                      <li>Logo in event program</li>
                    </ul> 
                    -->
                  </div>
                </div>
                    
              </article>

          </div>
        </div>

        <div class="4u 12u$(medium)">
          <div id="sidebar">

            <!-- Sidebar -->
              <h3>2015 Big Screen Bash Sponsors</h3>

              <% ["Platinum", "Gold", "Silver", "Media", "Table", "Supporting"].each do |sponsor_type| %>
                <div class="row 100%">
                  <div class="12u 12u(medium)">

                    <section class="widget thumbnails box">
                      <h4><%= sponsor_type %> Sponsors</h4>
                      <div class="grid">
                        <div class="row 50%">

                          <% sponsors = CSV.read("./data/sponsors-#{sponsor_type.downcase}.csv") %>
                          <% sponsors.each do |sponsor| %>
                            <% image_file = "#{sponsor[0].downcase}.png" %> 
                            <% link = sponsor[1] %> 

                            <div class="6u">
                              <a href="<%= link %>" class="image fit"><img src="images/sponsors-<%= sponsor_type.downcase %>/<%= image_file %>" alt="" style="border: 1px solid #708090;" /></a>
                            </div>
                          <% end %>

                        </div>
                      </div>
                    </section>

                  </div>
                </div>
              <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>