<!-- Main -->
	<div id="main-wrapper">
		<div class="container">
			<div class="row 200%">
				<div class="8u 12u$(medium)">
					<div id="content">

						<!-- Content -->
							<article>

								<h2>Experience the difference a Sponsorship can make! </h2>
			          <p>In its 7th year, the ALA of Kentucky October event is one of Louisville’s most exciting Fall events.  Planned for corporate, small business, and individual entertaining, this fundraiser offers a fun night out that benefits one of the most important health-centered charities in Kentuckiana.  This year’s event, <b>It'a a Bird, It's a Plane, It's a Superparty</b>, will not disappoint!  Guests will be treated to and involved in a “Big Screen Bash" featuring superheros in the movies.</p>

		            <div class="row">
		              <div class="4u 12u(medium)">
		                <h3>Presenting Sponsor<br/>$10,000</h3>
		              </div>
		              <div class="8u 12u(medium)">
		                <p>A Presenting sponsorship entitles you and your company to:</p>
		                <ul style="list-style-type:disc;line-height: 130%;">
		                  <li>Company name on all print material</li>
		                  <li>Opportunity for representative from company to speak during event</li>
		                  <li>Three tables of eight with preferred seating</li>
		                  <li>Recognition and visual display at event</li>
		                  <li>Full page recognition in event program</li>
		                </ul>
		              </div>
		            </div>
		            
		            <div class="row">
		              <div class="4u 12u(medium)">
		                <h3>Platinum Sponsor<br/>$7,500</h3>
		              </div>
		              <div class="8u 12u(medium)">
		                <p>A Platinum sponsorship entitles you and your company to:</p>
		                <ul style="list-style-type:disc;line-height: 130%;">
		                  <li>Company name on all advertising and invitations</li>
		                  <li>Three tables of eight with preferred seating</li>
		                  <li>Recognition and visual display at event</li>
		                  <li>Half-page recognition in event program</li>
		                </ul>
		              </div>
		              </div>
		            </div>

		            <div class="row">
		              <div class="4u 12u(medium)">
		                <h3>Gold Sponsor<br/>$5,000</h3>
		              </div>
		              <div class="8u 12u(medium)">
		                <p>A Gold sponsorship entitles you and your company to:</p>
		                <ul style="list-style-type:disc;line-height: 130%;">
		                  <li>Company name on all print and invitations</li>
		                  <li>Two tables of eight with preferred seating</li>
		                  <li>Recognition and visual display at event</li>
		                  <li>Recognition in event program</li>
		                </ul>
		              </div>
		            </div>

		            <div class="row">
		              <div class="4u 12u(medium)">
		                <h3>Silver Sponsor<br/>$3,000</h3>
		              </div>
		              <div class="8u 12u(medium)">
		                <p>A Silver sponsorship entitles you and your company to:</p>
		                <ul style="list-style-type:disc;line-height: 130%;">
		                  <li>Company name on all print and invitations</li>
		                  <li>One table of eight with preferred seating</li>
		                  <li>Visual display at event</li>
		                  <li>Logo in event program</li>
		                </ul> 
		              </div>
		            </div>
			          
			        </article>

			        <article>

		            <div class="row">
		              <div class="4u 12u(medium)">
		                <h3>Your Partnership</h3>
		              </div>
		              <div class="8u 12u(medium)">
		                <p>When you join us, the American Lung Association, in the fight for healthy lungs and clean air, you help save lives today and keep America healthy tomorrow. Throughout our long history of dedicated service to healthy air and lungs, the American Lung Association has garnered the support and dedication of those committed to overall health and wellness. Consumers demonstrate loyalty to a brand that has partnered with their charity of choice. We are that charity; this is your chance to be that brand.</p>
		              </div>
		            </div>
		              ​
		            <div class="row">
		              <div class="4u 12u(medium)">
		                <h3>Why Sponsor?</h3> 
		              </div>
		              <div class="8u 12u(medium)">
		                <p>Non-profit event marketing is an excellent way to reach customers. With a sponsorship at an American Lung Association event, a corporation engages in customer-experience marketing that targets exactly the desired consumer base. The face-to-face exposure that comes with sponsoring an American Lung Association event provides a company with a hands-on, entertaining, and compelling branding experience that is unmatched by traditional marketing methods. The programs and events that the American Lung Association offers allow you, as a sponsor, to hone in on your target audience.</p>
		              </div>
		            </div>
		            ﻿
		            <div class="row">
		              <div class="4u 12u(medium)">
		                <h3>Our Participants, Your Customers</h3> 
		              </div>
		              <div class="8u 12u(medium)">
		                <ul style="list-style-type:disc;line-height: 130%;">
		                  <li>American Lung Association donors are upperincome, well-educated, health-conscious, and civicminded consumers.</li>
		                  <li>Surveys say 69% of consumers are more likely to buy a product associated with a well-respected charity.</li>
		                  <li>86% of respondents recognize the American Lung Association as a source of health information.</li>
		                  <li>By partnering with us, purchaser intent nearly tripled for 3M and Lysol brands that featured the American Lung Association logo.</li>
		                </ul> 
		              </div>
		            </div>

		            <div class="row">
		              <div class="4u 12u(medium)">
		                <h3>Enhance Your Image</h3>
		              </div>
		              <div class="8u 12u(medium)">
		                <p>Consumers are more likely to view your brand positively when associated with an established and well-respected charity.</p>
		              </div>
		            </div>
		            ​
		            <div class="row">
		              <div class="4u 12u(medium)">
		                <h3>Get Noticed</h3>
		              </div>
		              <div class="8u 12u(medium)">
		                <p>Sponsoring the American Lung Association allows you to extend your reach to families, individuals and businesses across the region.</p>
		              </div>
		            </div>
		            ​
		            <div class="row">
		              <div class="4u 12u(medium)">
		                <h3>Differentiate</h3>
		              </div>
		              <div class="8u 12u(medium)">
		                <p>Set yourself above your competitors and build employee and company morale by contributing to an important cause.</p>
		              </div>
		            </div>
		            ​
		            <div class="row">
		              <div class="4u 12u(medium)">
		                <h3>Grow Your Green Side</h3>
		              </div>
		              <div class="8u 12u(medium)">
		                <p>Clean air affects everyone; work with us toward a better future. Clean air means healthy lungs.</p> 
		              </div>
		            </div>
		            ​
		            <div class="row">
		              <div class="4u 12u(medium)">
		                <h3>Stretch Your Advertising Dollar</h3>
		              </div>
		              <div class="8u 12u(medium)">
		                <p>The estimated value of each sponsorship level will far exceed your initial investment.</p>
		              </div>
		            </div>

		            <div class="row">
		              <div class="4u 12u(medium)">
		              </div>
		              <div class="8u 12u(medium)">
		                <p>*Source: Cone; ORC Macro<br/>kylung.org</p>
		              </div>
		            </div>

							</article>

					</div>
				</div>

				<div class="4u 12u$(medium)">
					<div id="sidebar">

						<!-- Sidebar -->
							<h3>2015 Big Screen Bash Sponsors</h3>

	            <% ["Platinum", "Gold", "Silver", "Media", "Table", "Supporting"].each do |sponsor_type| %>
	              <div class="row 100%">
	                <div class="12u 12u(medium)">

	                  <section class="widget thumbnails box">
	                    <h4><%= sponsor_type %> Sponsors</h4>
	                    <div class="grid">
	                      <div class="row 50%">

	                        <% sponsors = CSV.read("./data/sponsors-#{sponsor_type.downcase}.csv") %>
	                        <% sponsors.each do |sponsor| %>
	                          <% image_file = "#{sponsor[0].downcase}.png" %> 
	                          <% link = sponsor[1] %> 

	                          <div class="6u">
	                            <a href="<%= link %>" class="image fit"><img src="images/sponsors-<%= sponsor_type.downcase %>/<%= image_file %>" alt="" style="border: 1px solid #708090;" /></a>
	                          </div>
	                        <% end %>

	                      </div>
	                    </div>
	                  </section>

	                </div>
	              </div>
	            <% end %>

					</div>
				</div>
			</div>
		</div>
	</div>