<!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div id="content">

        <!-- Content -->
          <article>
          
            <%= render 'sponsors-partial.html.erb' %>

            <br/>
            <a href="index.html" class="button icon fa-home">Home</a>

          </article>

      </div>
    </div>
  </div>